.lists {
    display: flex;
    align-items: flex-start;
}

.list-wrapper {
    background: #E0E0E0;
    margin: 0 10px;
    padding: 8px;
    min-width: 200px;
    border-radius: 4px;
}

.list-wrapper:first-child {
    margin-left: 0;
}

.list-wrapper:last-child {
    margin-right: 0;
}
