body {
    font-family: sans-serif;
    padding: 10px;
    background: #1976D2;
}

h2, h3 {
    margin: 0;
}

h2 {
    color: white;
}

input {
    display: block;
}

.lists {
    display: flex;
    align-items: flex-start;
}

.list {
    background: #E0E0E0;
    margin: 0 10px;
    padding: 8px;
    min-width: 200px;
    border-radius: 4px;
}

.list:first-child {
    margin-left: 0;
}

.list:last-child {
    margin-right: 0;
}

.card {
    background: #FAFAFA;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

.add-button {
    padding: 8px;
    border-radius: 4px;
}

.add-button a {
    text-decoration: none;
}

.lists > .add-button {
    min-width: 200px;
    background: #1565C0;
}

.lists > .add-button:hover {
    background: #0D47A1;
}

.lists > .add-button a {
    color: white;
}

.list > .add-button:hover {
    background: #BDBDBD;
}

.list > .add-button a {
    color: black;
}

.board .add-form {
    align-self: flex-start;
}
